body {
    background-color: black;
    font-family: Georgia, serif;
    color: goldenrod
}

h1 {
    color: darkblue;
    font-size: 2.5rem;
}

header {
    padding: 1.5rem 2rem;
    border-bottom: 1px solid goldenrod;
    background-color: grey;
    text-align: center;
}

nav a {
    color: rebeccapurple;
}

main {
    padding: 3rem 2rem;
    max-width: 800px;
    margin: 0 auto
}

.metodo-titulo {
    font-size: 1.1rem;
    letter-spacing: 0.05cm;
    text-transform: uppercase;
    margin-bottom: 0, 25rem;
    color: brown
}

.precio {
    color: aqua
}

footer {
    padding: 1.5rem 1.3rem;
    border-top: 123px;
}


#contador-tazas {
    font-size: 1.5rem;
    font-weight: bold;
    color: #5B9B8E;
}

#boton-reservar {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1.25rem;
    background-color: purple;
    color: darkblue;
    border: none;
    font-family: Georgia, serif;
    font-size: 1rem;
    cursor: pointer;
}